---
services:
  #  Teamcity
  #  ========
  #
  # Docker compose for Jetbrains Teamcity
  #
  #  How to upgrade:
  #     1. change the image version.
  #     2. terraform apply.
  #     3. complete upgrade in the web UI
  #
  # To get the admin token (from the 'olive' flatcar VM):
  #     tail -f  /var/lib/teamcity/logs/teamcity-server.log
  # see:
  #  - https://hub.docker.com/r/jetbrains/teamcity-server/
  #  - https://www.jetbrains.com/teamcity/download/other.html
  #  - https://github.com/JetBrains/teamcity-docker-images
  #  - https://github.com/JetBrains/teamcity-docker-samples
  #  - https://github.com/JetBrains/teamcity-docker-samples/blob/master/compose-ubuntu/docker-compose.yml
  #  - https://youtrack.jetbrains.com/issue/TW-83763/Teamcity-failed-to-start-with-new-PSQL-16-ERROR-unrecognized-configuration-parameter-lccollate
  teamcity:
    image: jetbrains/teamcity-server:2025.11
    container_name: teamcity
    network_mode: host
    environment:
      - TZ=Pacific/Auckland
      - X_TEAMCITY_SERVER_MEM_OPTS=>
          -Xms1024m
          -Xmx4500m
          -XX:MaxPermSize=270m
          -XX:ReservedCodeCacheSize=640m
          -XX:MaxMetaspaceSize=512m
          -XX:+UseG1GC
          -XX:+ParallelRefProcEnabled
          -XX:+UnlockExperimentalVMOptions
          -XX:+UseContainerSupport
    ports:
      - "8111:8111"
    volumes:
      - "/var/lib/teamcity/data:/data/teamcity_server/datadir"
      - "/var/lib/teamcity/logs:/opt/teamcity/logs"
    depends_on:
      - db
    restart: unless-stopped

  # A Postgres DB instance
  #
  # see:
  #  - https://hub.docker.com/_/postgres
  db:
    # Only v15.x is supported, and LC_COLLATE isn't supported by musl/alpine
    image: postgres:15.4-bookworm
    container_name: postgres
    network_mode: host
    command: "-c listen_addresses=::1,127.0.0.1"
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres
      PG_DATA: /var/lib/postgresql/data
    secrets:
      - postgres
    ports:
      - 5432:5432
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data
    restart: unless-stopped

secrets:
  postgres:
    # this file is written by the ignition script
    file: /etc/docker-compose-postgres.env